@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
 @font-face {
    font-family: 'vt323';
    src: url('/VT323-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
 }
}